{# HTNL5 declaration #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {# Make modifiable head elements #}
    
    {% block head_favicon %}
        <link rel="icon" type="image/png">
    {% endblock head_favicon %}
    {% block head_meta %}
        {% block head_meta_charset %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock head_meta_charset %}
        {% block head_meta_contentlanguage %}
            <meta http-equiv="Content-Language" value="en-US" />
        {% endblock head_meta_contentlanguage %}
        {% block head_meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_css %}
        {% block head_css_site %}
            <link href="{% static 'css/bootstrap.min.css' %}" 
                    rel="stylesheet" media="screen">
            <link href="{% static 'css/bootstrap.css' %}" 
                    rel="stylesheet" media="screen">
            <link href="{% static 'css/bootstrap-grid.css' %}" 
                    rel="stylesheet" media="screen">
            <link href="{% static 'css/bootstrap-grid.min.css' %}" 
                    rel="stylesheet" media="screen">
            <link href="{% static 'css/app.css' %}" 
                    rel="stylesheet" media="screen">
        {% endblock head_css_site %}
        
        {% block head_css_section %}            
        {% endblock head_css_section %}

        {% block head_css_page %}            
        {% endblock head_css_page %}

    {% endblock head_css %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    {# Navigation Menu #}
    
<!-- 
example 3 - Navbar with brand left, links on center and right that collapse into the vert mobile menu
-->
<nav class="navbar navbar-light navbar-expand-md navbar-dark bg-dark justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Shadow's Project Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <p class="navbar-brand">User: {{ user.get_username }}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'subscriber_new'%}" class="nav-link">Sign Up</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
    </div>
</nav>
          
    {# The Document Body #}
    <div id="site-wrapper">
        {% block content %}
            If you see this, something is wrong!!
        {% endblock content %}
    </div>
    {# The Footer #}
    <div class="footer">
        <div class="container">
            <p>Copyright CRM Easy</p>
        </div>
    </div>
</body>
    {# Set of blocks that can be used to display Javascript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
            <script src="{% static 'js/app.min.js' %}"></script>    
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}

</html>